.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 60%;
  display: flex;
}
.reply-list {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.reply-item {
  display: flex;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.content-wrap {
  width: 80%;
}
.user-name {
  font-size: 15px;
  color: rgb(59, 59, 59);
}
.user-info {
  margin: 10px 0;
}
.root-reply::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid rgb(159, 158, 158);
  margin: 10px 0;
}
.reply-content {
  font-size: 16px;
}

.reply-info {
  font-size: 14px;
  color: #838181;
  margin: 5px 0;
}
.reply-count {
  margin: 0 20px;
}
.delete-btn {
  cursor: pointer;
}
.comment-number {
  margin: 0 10px 0 0;
}
.tab {
  color: #a3a1a1;
  cursor: pointer;
}
.nav-item {
  padding: 0 10px;
}
.active {
  color: #000;
  /* margin: 0 10px; */
}
.reply-wrap {
  width: 60%;
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.send-text {
  margin: 0 10px;
}
